{% extends 'dogs/index.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card photo-card">
            <div class="card-header bg-white">
                <h4 class="mb-0">Отзыв о "{{ photo.title }}"</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <a href="{% url 'dogs:photo_detail' photo.id %}" class="btn btn-outline-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}